.Navbar__Items {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: .5rem; }

@font-face {
  font-family: 'Metropolis';
  src: url("fonts/Metropolis-Bold: .otf"); }

.Navbar {
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: white; }

.Navbar__Link {
  padding: .5rem; }

.Navbar__Items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.Navbar__Items--right {
  margin-left: auto; }

.Navbar__Link-toggle {
  display: none; }

.Navbar__Items {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: none;
  padding: 2rem 5rem 3.5rem 5rem; }

.Navbar {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.Navbar__Items--right {
  margin-left: 0; }

.Navbar__ToggleShow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 0;
  right: 0;
  width: 40vw; }

.Navbar__Link-toggle {
  -ms-flex-item-align: end;
  align-self: flex-end;
  display: initial;
  position: absolute;
  cursor: pointer; }

a {
  text-decoration: none;
  color: white; }
  a:hover {
    color: white; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0 1rem;
  font-size: 1rem;
  display: block;
  font-family: Metropolis,-apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif; }
  body .nav-top {
    position: fixed;
    width: 100%;
    z-index: 2000; }
    body .nav-top .logo {
      padding-top: 1rem;
      padding-left: 1.5rem; }
      body .nav-top .logo a {
        color: black; }
        body .nav-top .logo a:hover {
          color: black; }
    body .nav-top > div {
      display: inline-block; }

.page main ul {
  display: grid;
  grid-gap: 0rem;
  padding: 0;
  list-style: none;
  margin: 0 auto;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(200px, auto); }
  .page main ul li {
    background-color: green;
    border: 3px solid blue; }
    .page main ul li:nth-child(1) {
      grid-column: span 6; }
    .page main ul li:nth-child(2) {
      grid-column: span 3; }
    .page main ul li:nth-child(3) {
      grid-column: span 3; }
    .page main ul li:nth-child(4) {
      grid-column: span 2; }
    .page main ul li:nth-child(5) {
      grid-column: span 2; }
    .page main ul li:nth-child(6) {
      grid-column: span 2; }

.d-block {
  display: block; }

.fr {
  float: right; }

.fl {
  float: left; }

.img-fluid {
  width: 100%; }
