a {
  color: white; }
  a:hover {
    color: white; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

body {
  margin: 0px 1rem 0px 1rem;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
  font-size: 1rem;
  display: block; }
  body main {
    line-height: 0;
    padding-top: 6rem; }
    body main ul {
      margin: 0;
      padding: 0;
      list-style: none;
      display: grid;
      grid-auto-flow: dense;
      margin: 0 auto;
      grid-gap: 1rem;
      grid-template-columns: repeat(auto-fit, minmax(350px, 1fr)); }
      body main ul li {
        position: relative;
        background-color: #FF5D46; }
        body main ul li:nth-child(1) {
          grid-row: span 2; }
        body main ul li:nth-child(5) {
          grid-row: span 2; }
        body main ul li:nth-child(11) {
          grid-row: span 2;
          grid-column: span 2; }
        body main ul li img {
          height: 100%;
          width: 100%;
          -o-object-fit: cover;
          object-fit: cover;
          opacity: 1;
          -webkit-transition: opacity 0.5s;
          -o-transition: opacity 0.5s;
          transition: opacity 0.5s; }
        body main ul li .text {
          position: absolute;
          opacity: 0;
          top: 1rem;
          left: 1rem;
          bottom: auto;
          right: 1rem;
          -webkit-transition: opacity 0.5s;
          -o-transition: opacity 0.5s;
          transition: opacity 0.5s;
          line-height: 1.2; }
        body main ul li:hover img {
          opacity: 0;
          -webkit-transition: opacity 0.5s;
          -o-transition: opacity 0.5s;
          transition: opacity 0.5s; }
        body main ul li:hover .text {
          opacity: 1; }

@media only screen and (min-width: 2170px) {
  ul {
    grid-template-columns: repeat(auto-fit, minmax(450px, 5fr)) !important; } }

.d-block {
  display: block; }

.nav-top {
  position: fixed;
  width: 100%;
  padding: 10px 1rem;
  z-index: 2000; }
  .nav-top > div {
    display: inline-block; }

.fr {
  float: right; }

.fl {
  float: left; }
