

$gap: 2rem
$hgap: $gap
$vgap: $gap
%h1
	font-size: 2rem
	font-weight: 600

%h2
	font-size: 1.4rem
	font-weight: 600
	margin-bottom: .5rem
$duration: .5s
// .animated
// 	-webkit-animation-duration: $duration
// 	animation-duration: $duration
// 	-webkit-animation-fill-mode: both
// 	animation-fill-mode: both

$black: black
$gray: gray
$white: white
$orange: #FD5F08

@import "navbar.sass"

a
	text-decoration: none
	color: $white 
	&:hover
		color: $white


*
	box-sizing: border-box

body 
	margin: 0 1rem
	font-size: 1rem
	display: block
	font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
	.nav-top 
		position: fixed
		width: 100%
		padding: 0px 1rem
		z-index: 2000
		.logo
			a
				color: $black
				&:hover
					color: $black
		> div 
			display: inline-block

	main 
		line-height: 0
		padding-top: 6rem
		ul 
			padding: 0
			list-style: none
			display: grid
			grid-auto-flow: dense
			margin: 0 auto
			grid-gap: 1rem
			grid-template-columns: repeat(auto-fit, minmax(350px, 1fr))
			grid-template-rows: repeat(auto-fit, minmax(233px, 1fr))
			li 
				position: relative
				background-color: $white
				&:hover 
					background-color: $orange
					img 
						opacity: 0
						//If you use compass, instead of the line below you could use + transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
						transition: opacity 0.3s

					.text 
						opacity: 1


				&:nth-child(1) 
					grid-row: span 2

				&:nth-child(5) 
					grid-row: span 2

				&:nth-child(11) 
					grid-row: span 2
					grid-column: span 2

				img 
					height: 100%
					width: 100%
					object-fit: cover
					opacity: 1
					//If you use compass, instead of the line below you could use + transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
					transition: opacity 0.3s

				.text 
					position: absolute
					opacity: 0
					top: auto
					left: 1rem
					bottom: 1rem
					right: 1rem
					//If you use compass, instead of the line below you could use + transition($transition-1, $transition-2, $transition-3, $transition-4, $transition-5, $transition-6, $transition-7, $transition-8, $transition-9, $transition-10)
					transition: opacity 0.3s
					line-height: 1.2





@media only screen and(min-width: 2170px) 
	ul 
		grid-template-columns: repeat(auto-fit, minmax(450px, 1fr)) !important


@media only screen and(max-width: 760px) 
	body 
		margin: 0

	ul 
		grid-template-columns: repeat(auto-fit, minmax(100%, 1fr)) !important
		li 
			grid-column: span 1 !important



.d-block 
	display: block

.fr 
	float: right

.fl 
	float: left




